/* #name-nav {
  color: black;
}

#name-nav:hover {
  color: #fd562a;
} */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&family=Raleway:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2px;
  font-weight: bolder;
  line-height: 2;
  font-size: 12px;
  word-spacing: 8px;
}

.heading4 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 2;
  font-size: 14px;
  word-spacing: 8px;
}


.heading5 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  /* font-weight: 500; */
  line-height: 2;
  font-size: 15px;
  word-spacing: 8px;
}

.heading6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 2;
  font-size: 17px;
  word-spacing: 8px;
}


.heading7 {
  font-family: 'Cinzel', serif;

  letter-spacing: .2px;
  font-weight: 600;
  line-height: 2;
  font-size: 20px;
  word-spacing: 8
}

.heading8 {
  font-family: 'Raleway', sans-serif;

  letter-spacing: .2px;
  font-weight: 600;
  line-height: 2;
  font-size: 18px;
  word-spacing: 8
}

.heading9 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 1.4;
  font-size: 17px;
  word-spacing: 8px;
}

.img3 {
  border: 20px solid white;
  box-shadow: 1px 1px 9px 4px #e7e7e7;
}


.card-effect {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Box shadow effect */
  transition: box-shadow 0.3s ease;
  /* Add a smooth transition effect */
}

.card-effect:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Change box shadow on hover */
}

.card-content-effect {
  padding: 20px;
}

.card-content-effect h4 {
  padding: 20px;
}

.carding {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;

}

.card-effect:hover {
  background: #82CAFF;
  color: black;
  border-color: white;
  transition: all 0.35s ease;
  cursor: default;

}

/* .elementor {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
} */
.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition: 0.3s ease;
  margin-bottom: 20px;
}

.card.custom-card {
  border-radius: 35px;
  border: none;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  border: 8px solid rgb(172, 172, 172);

  /* box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff; */
}

.custom-card:hover {
  border: 8px solid rgba(1, 25, 76, 0.699);

}

.zoom-effect {
  transition: transform 0.3s ease;

}

.custom-card:hover .zoom-effect {
  transform: scale(1.1);

}

.testimonal {
  display: grid;
  place-items: center;
  /* height: 100vh; */
  background-image: url('https://cdn.apollohospitals.com/campaign/chennai/images/ahelbg.svg');
}

.section-header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  padding-bottom: 25px;
  color: black;
}

.section-header::after {
  content: '';
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(52% - 100px);
  background: white;
  display: block;

}

.section-header span {
  display: block;
  font-size: 15px;
  font-weight: 300;
}

.client.inner {
  display: flex;
  justify-content: center;
  margin: 0 25px;

}

.client .card-info {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  width: 100%;
  height: 100%;
  padding: 20px;

}

.client .card-info .card-thumbnail {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 27px;
  display: flex;
}

.client .card-thumbnail img {
  max-width: 100%;
  height: auto;
  transition: 0.4s;
  display: inline-block !important;
  object-fit: cover;
  width: 100%;

}

.subtitle span {
  color: #355C7B;
}

.client .inner .card-info .card-content .subtitle {
  font-size: 12px;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 22px;
}

.client.inner.card-info.card-content.title {
  color: black;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 34px;
}

.designation {
  color: black;
  font-size: 16px;
}

.user .card-description {
  background: #fff3ed;
  color: black
}

.card-description {
  padding: 50px 40px 50px 40px;
  border-radius: 10px;

  width: 100%;
}

.user .title-info {
  text-align: left;
}

.user .title {
  color: black;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.user .rating {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  padding: 5px 10px;
  border-radius: 6px;
  display: inline-block;

}

.rating ul {
  display: flex;
  align-items: center;
}

.rating ul li {
  margin: 0;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-top: -1px;
  margin-right: 4px;

}

.rating i {
  color: #FFAB1A;
}

.lists {
  list-style: none;
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
  color: #007C9D;
}

.hero-title p {
  color: #F1A902;
  /* font-size: 30px; */

}

.sub-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0px;
}

.tagline_ {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0px;
  margin-top: 16px;
}

.banner-bts {
  background-color: #007C9D;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 55px;
  width: 300px;
}

/* .bg-3 {
  background: url(https://cdn.apollohospitals.com/campaign/chennai/images/banner2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
  color: #fff;

} */